<section>
    <h1>Hello {{   firstName   }}</h1>
    {{#each   items   as |item index|}}
    <p>{{   item.Title   }} costs {{formatCurrency   item.price}}</p>
    {{/each}}
    {{iif   (isEmpty   discount)   "no offer"   discount}}
    {{{   rawBlock   }}}
</section>
